.not-found-main {
  background-color: #f7edfd;
  font-family: "IBM Plex Mono", monospace;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  text-align: center;
}

.errorfour {
  font-size: 6rem;
  color: var(--text);
  margin: 0;
}

.pagenotfound {
  font-size: 2rem;
  color: var(--text);
  margin: 0;
  font-weight: 600;
}

.go-back {
  font-size: 1.5rem;
  color: var(--text);
  margin: 0;
  font-weight: 300;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
