.not-found-main {
  background-color: #f7edfd;
}

.not-found {
  background-color: red;
}

.errorfour {
  color: white;
}

.pagenotfound {
  background-color: blue;
}

.go-back {
  background-color: blueviolet;
}
