.event-page {
  background-image: linear-gradient(#ffffff 3px, transparent 3px),
    linear-gradient(to right, #ffffff 3px, transparent 3px);
  background-size: 150px 100px;
  background-color: #dd9ef6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goback-banner {
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 600;
  border-radius: none;
  border: 2px solid var(--text);
  font-size: 18px;
  width: 11rem;
  height: 2.7rem;
  padding: 10px;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  margin-left: -3px;
}

.goback-banner p {
  margin-left: 2.5rem;
}

.event-container {
  width: 100%;
  max-width: 95vh;
  max-height: 100vh;
  border-radius: none;
  border: 2px solid var(--text);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}
