.event-page {
  background-image: linear-gradient(#ffffff 3px, transparent 3px),
    linear-gradient(to right, #ffffff 3px, transparent 3px);
  background-size: 150px 100px;
  background-color: #dd9ef6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#goback-banner {
  position: fixed;
  top: 7rem;
  left: 0;
}

#goback-button {
  margin-left: 3rem;
  font-size: 24px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.event-container {
  width: 100%;
  max-width: 95vh;
  max-height: 100vh;
  min-height: 70vh;
  border-radius: none;
  border: 2px solid var(--text);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2rem auto;
  padding: 1rem;
}

.event-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bolder;
}

.event-icon {
  margin-right: 0.5rem;
}

#event-time,
#event-signme,
#event-going {
  height: 3.5rem;
}

#event-time {
  font-weight: 200;
}

.date-time-info {
  text-align: right;
  width: 100%;
}

#event-signme {
  background-color: var(--yellow-ish);
}

#button-signme {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 200;
}

#eventpage-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: dashed;
}

#eventpage-person {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: dashed;
}

#event-signme {
  position: relative;
}

#event-going {
  font-weight: 200;
  text-decoration: none;
}

.event-locationinfo {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
