.nonext-events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-top: 5rem;
}

#no-nextevents {
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 600;
  border-radius: none;
  border: 2px solid var(--text);
  font-size: 18px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
}

#no-nextevents > p {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  color: var(--text);
}

@media (max-width: 900px) {
  #no-nextevents {
    width: 80%;
    font-size: 16px;
  }

  #no-nextevents > p {
    font-size: 1.5rem;
  }
}
