.cookies-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lavender-ish);
}

.cookie-button {
  background-color: transparent;
  border: none;
  font-size: 5rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  .cookie-button {
    font-size: 3rem;
    padding: 1rem 1.5rem;
  }
}
