.postevent-page {
  background-image: linear-gradient(#ffffff 3px, transparent 3px),
    linear-gradient(to right, #ffffff 3px, transparent 3px);
  background-size: 150px 100px;
  background-position: 50vw 2.8vh;
  background-color: #dd9ef6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.postevent-container {
  width: 100%;
  max-width: 95vh;
  max-height: 100vh;
  min-height: 70vh;
  border-radius: none;
  border: 2px solid var(--text);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2rem auto;
  position: relative;
}

.top-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--text);
}

.postevent-title {
  border-left: 5px solid var(--secondary);
  border-top: 5px solid var(--secondary);
  margin-left: auto;
  font-family: "IBM Plex Mono", monospace;
  padding-left: 1rem;
  padding-right: 1rem;
}

.formevent-container {
  padding: 2rem;
}

.description-group {
  position: relative;
}

.description-group > textarea {
  background-color: var(--lavender-ish);
  border-bottom: none;
  border: 2px solid var(--primary);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  height: 7.3rem;
  width: 50%;
  resize: none;
  margin-top: 2rem;
  padding: 0.3rem;
}

.input-form {
  background-color: var(--lavender-ish);
  border-bottom: none;
  border: 2px solid var(--primary);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  height: 2rem;
  width: 10rem;
  resize: none;
  font-family: "IBM Plex Mono", monospace;
  padding: 0.3rem;
}

.select-box {
  background-color: var(--lavender-ish);
  border-bottom: none;
  border: 2px solid var(--primary);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  height: 2rem;
  width: 50%;
  resize: none;
  color: #757b8b;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 2rem;
}

.custom-select select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none; */
}

#address,
#location {
  margin-top: 2rem;
}

.custom-file-input {
  background-color: var(--lavender-ish);
  border-bottom: none;
  border: 2px solid var(--primary);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  color: #757b8b;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  cursor: pointer;
  height: 4rem;
  width: 50%;
  position: relative;
  padding: 0.3rem;
  margin-top: 2rem;
}

.custom-file-input label {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

.custom-file-input img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  padding: 8px;
  margin-right: 0.5rem;
}

#time,
#date {
  margin-top: 2rem;
}

.error-message {
  position: absolute;
  color: var(--red);
  margin-top: 0.3rem;
  font-size: 14px;
}

.description-count {
  position: absolute;
  font-family: "IBM Plex Mono", monospace;
  bottom: 0.5rem;
  right: 51%;
  pointer-events: none;
}

@media (max-width: 900px) {
  .description-group > textarea {
    width: 100%;
  }

  .description-count {
    right: 1%;
  }

  .select-box {
    width: 100%;
  }

  .custom-file-input {
    width: 100%;
  }

  .date-time-container,
  .location-container {
    display: flex;
    margin-bottom: 1rem;
  }

  .date-time-container > div,
  .location-container > div {
    margin-right: 1.5rem;
  }
}
