.LandingPage {
  display: flex;
  flex-direction: column;
}

.landing-top,
.landing-bottom {
  flex: 1;
}

.landing-top {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0.6;
  align-content: space-evenly;
  border-bottom: 2px solid var(--text);
  background-image: linear-gradient(#f3f27b 10px, transparent 10px),
    linear-gradient(to right, #f3f27b 10px, transparent 10px);
  background-size: 20px 20px;
  background-color: #acf062;
  background-position: 15px 11px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-family: IBM Plex Mono;
  font-size: clamp(2vmax, 2vmax, 4rem);
  font-weight: 600;
  text-align: center;
  color: var(--text);
  width: 50%;
  margin: 2rem 0 0 15%;
}

.Hello {
  background-color: var(--lavender-ish);
  position: absolute;
  width: fit-content;
  height: fit-content;
  border: solid 2px var(--text);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 500;
  padding: 0 15px 0 15px;
  color: var(--text);
  right: 20%;
}

.Hello::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-left: 70px solid var(--text);
  border-bottom: 35px solid transparent;
  transform: rotate(0deg);
}

.second-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.search-bar {
  width: 50%;
}

.landing-bottom {
  background-image: url(/img/suminagashi.svg);
  background-size: cover;
  background-color: var(--lavender-ish);
  background-attachment: fixed;
}

.landing-signup {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  border-radius: none;
  border: 2px solid var(--text);
  font-size: 1.6rem;
  width: 11rem;
  height: 3.5rem;
  padding: 0 2rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
}

.triangle-right {
  position: absolute;
  right: 0;
  margin-top: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--text);
  border-bottom: 10px solid transparent;
}

.triangle-left {
  position: absolute;
  left: 0;
  margin-top: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid var(--text);
  border-bottom: 10px solid transparent;
}

@media (max-width: 900px) {
  .LandingPage {
    display: flex;
    flex-direction: column;
  }

  .landing-top,
  .landing-bottom {
    flex: auto;
    height: 40vh;
  }

  .landing-bottom {
    background-size: contain;
  }

  .Hello {
    margin-top: 10%;
    bottom: auto;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    right: 30%;
  }

  .header-text {
    width: 90%;
    margin: 1rem auto;
    margin-bottom: -20%;
    text-align: center;
    font-size: 20px;
  }
}
