.filter-element {
  display: flex;
  align-items: center;
  width: 50%;
}

.filter-element > select {
  background-color: var(--lavender-ish);
  border-radius: none;
  border: 2px solid var(--text);
  border-right: 0px;
  font-size: large;
  width: 100%;
  height: 3.5rem;
  padding: 0 3rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  background-image: url("/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 0 50%;
  background-position-x: 0.5rem;
  color: #757b8b;
}
