.event-card {
  height: 20.5rem;
  width: 19.8rem;
  background-color: white;
  border-radius: none;
  border: 2px solid var(--text);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
}

.eventcard-image {
  border-bottom: 2px solid var(--text);
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.eventcard-location {
  position: absolute;
  bottom: 50%;
  left: 0;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
}

.eventcard-title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.eventcard-theme {
  color: var(--primary);
  font-weight: 700;
  font-family: "IBM Plex Mono", monospace;
}

.eventcard-date,
.eventcard-going {
  font-size: 1.1rem;
}

.eventcard-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.eventcard-date {
  display: flex;
  align-items: center;
}

.eventcard-going {
  text-align: center;
  margin-left: 3rem;
}

.event-icon {
  height: 1rem;
}
