.event-card li {
  height: 20.5rem;
  width: 19.8rem;
  background-color: var(--lavender-ish);
  border-radius: none;
  border: 2px solid var(--text);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventcard-image {
  border-bottom: 2px solid var(--text);
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.eventcard-location {
  position: absolute;
  bottom: 50%;
  left: 0;
  padding: 10px;
  z-index: 1;
  font-size: 1.5rem;
  color: white;
}

.eventcard-title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.eventcard-by,
.eventcard-date,
.eventcard-going {
  font-size: 1.1rem;
}

.eventcard-details {
  display: flex;
  margin-top: 1rem;
}

.eventcard-date {
  margin-left: 0px;
}

.eventcard-going {
  margin-right: 20px;
}

.event-icon {
  height: 1rem;
}
