.events-page {
  background-image: url(/img/suminagashi.svg);
  background-size: cover;
  background-color: var(--lavender-ish);
  background-attachment: fixed;
  margin-bottom: 3rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 4rem;
}

.event-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}

#no-events {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 4rem;
  color: var(--text);
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  z-index: 1;
}
