.events-page {
  background-image: url(/img/suminagashi.svg);
  background-size: cover;
  background-color: var(--lavender-ish);
  margin-bottom: 3rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 4rem;
}

.event-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}
