.signup-header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 2rem;
}

#link-signup {
  border-bottom: 4px var(--primary) solid;
}

.link-sign:last-of-type {
  margin-right: 3rem;
}

ul {
  list-style: none;
}

.input-reg#bio {
  background-color: var(--lavender-ish);
  border-bottom: none;
  border: 2px solid var(--primary);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  height: 7.3rem;
  resize: none;
  padding: 0.3rem;
  height: 8.5rem;
}

#signup-password {
  position: relative;
}

.eye-icon-up {
  position: absolute;
  height: 1.5rem;
  right: 0.5rem;
  bottom: 0.7rem;
  cursor: pointer;
}

#form-bio {
  position: relative;
}

.character-count {
  position: absolute;
  font-family: "IBM Plex Mono", monospace;
  bottom: 1.5rem;
  right: 1.5rem;
  pointer-events: none;
}

@media (max-width: 900px) {
  .signup-image {
    display: none;
  }

  .signup-header {
    font-size: 1.5rem;
    gap: 3rem;
  }

  .form-group {
    margin-bottom: 0.1rem;
  }

  .input-reg#bio {
    height: 10rem;
    resize: none;
    padding: 0.2rem;
  }

  .eye-icon-up {
    right: 0.8rem;
  }
}
