.signup-header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 30px;
}

#link-signup {
  border-bottom: 4px var(--primary) solid;
}

.link-sign:last-of-type {
  margin-right: 3rem;
}

ul {
  list-style: none;
}

.input-reg#bio {
  background-color: var(--lavender-ish);
  border-bottom: none;
  border: 2px solid var(--primary);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  height: 7.3rem;
  resize: none;
}

.character-count {
}
