.signin-page {
  background-image: linear-gradient(#baeea7 10px, transparent 10px),
    linear-gradient(to right, #baeea7 10px, transparent 10px);
  background-size: 20px 20px;
  background-position: 15px 11px;
  background-color: #dcf08d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
}

.basic-container {
  display: flex;
  max-width: 95vh;
  max-height: 100vh;
  min-height: 70vh;
  border-radius: none;
  border: 2px solid var(--text);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.signin-image {
  border-right: 2px dashed var(--text);
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.signin-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.signin-header {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 30px;
  align-items: center;
}

.link-sign {
  text-decoration: none;
  color: black;
  margin: 2rem 0;
  padding-bottom: 0.5rem;
}

.link-sign:first-of-type {
  margin-left: 3rem;
}

#link-signin {
  border-bottom: 4px var(--primary) solid;
  margin-right: 3rem;
}

.signin-text {
  font-weight: 100;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.4rem;
  margin: auto;
}

.black-text {
  color: black;
  display: block;
}

.you-text {
  color: var(--primary);
  display: block;
}

.form-group {
  padding: 1rem;
}

.input-reg {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px var(--primary) solid;
  font-family: "IBM Plex Mono", monospace;
  outline: none;
}

#form-signinbutton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.signin-section > form {
  margin: 0 1rem 5rem 1rem;
}
