.header {
  background-color: var(--lavender-ish);
  border-bottom: 2px solid var(--text);
  display: flex;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 26px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.right-section {
  margin-right: 3rem;
}

.right-section a {
  text-decoration: none;
  margin-right: 1rem;
  margin: 2rem;
  color: var(--text);
}

.right-section a:hover {
  color: var(--primary);
}

.separator {
  border-left: 2px solid var(--text);
  height: 3rem;
  width: 2px;
}

.triangleright-header {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #180325;
  transform: rotate(0deg);
  margin-top: 3rem;
  left: 0px;
}

.triangleleft-header {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #180325;
  transform: rotate(180deg);
  right: 0px;
  margin-top: 3rem;
}
