#button-signme {
  background-color: var(--yellow-ish);
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  color: var(--text);
  font-weight: 200;
  border-radius: none;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#button-signme:hover {
  background-color: #dd9ef6;
}

#icon-signme {
  margin-right: 0.5rem;
}
